@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

/* Custom Properties */
:root {
  --main-bg-color: #fff;
  --darkmode-bg-color: #212121;
  --text-primary-color: #212529;
  --text-secondary-color: rgba(255, 0, 0, 0.8);
  --darkmode-text-primary-color: #fff;
  --text-gray: rgba(0, 0, 0, 0.8);
  --hover-bg-gray: rgba(0, 0, 0, 0.05);
  --header-darkmode-bg-color: #181818;
  --header-border: 1px solid rgba(0, 0, 0, 0.1);
  --header-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --search-box-bg-color: rgba(0, 0, 0, 0.04);
  --darkmode-search-box-bg-color: #202020;
  --active-route-bg-color: rgba(255, 0, 0, 0.05);
  --foundation-color: rgba(0, 0, 0, 0.9);
  --backdrop-bg-color: rgba(0, 0, 0, 0.5);
  --card-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --card-hover-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --fiat-symbol-bg-color: #212529;
  --darkmode-table-border-color: rgba(255, 255, 255, 0.1);
}

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: var(--text-primary-color);
  background-color: var(--main-bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
}

a:hover,
button:hover {
  opacity: 0.95;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  font-size: 0.9rem;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 0.9rem;
  font-weight: 500;
}

/* Utils */
.btn {
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  background-color: var(--fiat-symbol-bg-color);
  color: var(--darkmode-text-primary-color);
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
}

.icon-btn {
  display: grid;
  place-items: center;
  padding: 0.65rem;
  border-radius: 50%;
  transition: background 0.8s;
}

.icon-btn:hover {
  background: var(--hover-bg-gray);
}

.material-icons-outlined {
  font-size: 1.3rem;
  color: var(--text-gray);
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  background-color: var(--backdrop-bg-color);
}

.loader {
  width: 100%;
  text-align: center;
  padding: 3rem 0;
}

/* Disclaimer */
#disclaimer {
  display: grid;
  place-items: center;
}

.disclaimer-msg {
  width: 60vw;
  max-width: 25rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.disclaimer-msg p {
  line-height: 1.5;
}

.disclaimer-btn {
  display: block;
  margin: 1.2rem auto 0;
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  height: 4rem;
  border-bottom: var(--header-border);
  padding: 0 1rem;
  background-color: var(--main-bg-color);
}

.logo-box {
  display: flex;
  align-items: center;
  margin: 0 3.5rem 0 0.5rem;
  margin: 0 2rem 0 0.5rem;
}

.logo-img {
  width: 2.8rem;
  margin-right: 0.3rem;
}

.logo-name {
  font-size: 1.3rem;
  font-weight: 500;
  white-space: nowrap;
  color: var(--text-gray);
}

.view-mode-btn {
  margin: 0 0.2rem;
}

/* Search Bar */
.search-box {
  display: flex;
  align-items: center;
  width: 40rem;
  padding-right: 0.5rem;
  background-color: var(--search-box-bg-color);
  border-radius: 0.5rem;
}

.search-box.focus {
  background-color: transparent;
  box-shadow: var(--header-box-shadow);
}

.search-icon-box {
  display: grid;
  place-items: center;
  padding: 0.2rem;
}

.search-field {
  padding: 0.5rem 0;
}

/* Side Menu */
.side-menu-backdrop {
  z-index: 18;
  width: 0;
}

.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  width: 16.5rem;
  height: 100vh;
  padding-bottom: 1rem;
  background-color: var(--main-bg-color);
  overflow-y: scroll;
}

.side-menu a {
  outline: none;
}

.side-menu > *:last-child {
  margin-bottom: 1rem;
}

.side-menu .logo-box {
  height: 4rem;
  padding: 0 1.65rem;
  border-bottom: var(--header-border);
  margin: 0 0 0.6rem 0;
}

.side-menu .logo-img {
  width: 2rem;
}

.side-menu li div,
.side-menu .subheader {
  padding: 0.6rem 1.65rem;
  margin-right: 0.3rem;
}

.side-menu li div:hover {
  background-color: var(--hover-bg-gray);
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.side-menu .routes div.active {
  background-color: var(--active-route-bg-color);
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

.side-menu .routes div.active > * {
  color: var(--text-secondary-color);
  font-weight: bold;
}

.side-menu li div {
  display: flex;
  align-items: center;
}

.side-menu li span,
.side-menu .subheader {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-gray);
}

.side-menu .subheader {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.side-menu li i,
.side-menu li .menu-flag {
  margin-right: 1.5rem;
}

.side-menu li button {
  width: 100%;
}

.side-menu .menu-flag {
  width: 1.3rem;
}

.side-menu .foundation {
  text-transform: none;
  color: var(--foundation-color);
}

/* Main Content */
.main-content {
  display: flex;
  margin-top: 4rem;
}

.main-spacing-left {
  min-width: 16.5rem;
}

.main-content-body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.main-content-body.justify-left {
  justify-content: left;
}

.main-content-container {
  width: 1200px;
  max-width: 1200px;
}

/* Site Description */
.site-description {
  margin: 0.5rem 0 1.5rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  font-weight: 500;
  color: var(--text-gray);
}

/* Cards */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-grid.justify-left {
  justify-content: left;
}

.card {
  width: 9.5rem;
  border-radius: 1rem;
  padding: 1rem;
  padding-bottom: 2rem;
  margin: 0.5rem;
  cursor: pointer;
  box-shadow: var(--card-box-shadow);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  box-shadow: var(--card-hover-box-shadow);
}

.card-info {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-info span {
  line-height: 1.5;
  word-wrap: break-word;
  max-width: 90%;
}

.card-info img,
.fiat-symbol {
  width: 2.5rem;
  margin: 0.2rem 0 0.6rem;
}

.fiat-symbol {
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0.1rem;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.2rem 0 0.6rem;
  border-width: 3px;
  border-style: solid;
  background-color: var(--fiat-symbol-bg-color);
  color: var(--darkmode-text-primary-color);
}

/* Search */
.search-grid .card-grid {
  justify-content: left;
}

.search-title {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.search-title i {
  margin: 0 0.5rem;
}

/* Details */
.details {
  display: flex;
  line-height: 1.5;
  margin: 0.5rem;
}

/* Profile */
.profile {
  width: 20rem;
  margin-right: 3rem;
}

.profile > * {
  margin-bottom: 1rem;
}

.profile h1,
.stock-input {
  font-size: 1.8rem;
  font-weight: bold;
  word-wrap: break-word;
}

.stock-input {
  padding: 0;
  width: 7rem;
}

.profile h3,
.stock-symbol a {
  font-size: 1.2rem;
  font-weight: normal;
}

.profile-img {
  width: 12rem;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img img {
  max-width: 100%;
  max-height: 100%;
}

.fiat-profile-symbol {
  color: #fff;
  background-color: #212529;
  border-radius: 1rem;
  font-size: 5rem;
}

.profile-desc {
  display: block;
}

.rank-badge {
  line-height: 1;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 5px;
  display: inline-block;
}

.profile-link {
  margin-bottom: 0.3rem;
}

.profile-link a {
  margin-left: 0.5rem;
}

/* Market data */
.market-data {
  width: 100%;
}

.market-data span {
  display: block;
}

/* Current price */
.current-price,
.trade-volume {
  margin: 1rem 0 2rem;
  font-size: 1.5rem;
}

.current-price span:first-child {
  font-size: 2rem;
  font-weight: normal;
}

/* Market Overview */
.market-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  font-size: 0.95rem;
}

.market-overview span:first-child {
  font-weight: bold;
}

/* Chart */
.chart {
  margin: 2rem 0;
  max-width: 900px;
}

.lg-chart {
  max-width: 1200px;
}

.chart-buttons {
  margin-top: 2rem;
  display: flex;
}

.chart-buttons button {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin-right: 0.4rem;
  border-radius: 0.2rem;
}

.chart-buttons button:last-of-type {
  margin-right: 0;
}

.chart-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.chart-buttons button.active {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

/* Table */
.main-table {
  width: 100%;
  max-width: 900px;
  border-collapse: collapse;
}

.main-table th,
.main-table td {
  text-align: left;
  font-size: 0.95rem;
  padding: 0.8rem;
}

.main-table tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.main-table tbody tr:last-child {
  border-bottom: none;
}

.main-table td {
  max-width: 8rem;
  word-wrap: break-word;
}

.table-img-link {
  display: flex;
  align-items: center;
}

.table-img-link img,
.table-fiat-symbol {
  width: 1.2rem;
  margin-right: 0.4rem;
  align-self: center;
}

.main-table td.table-waypoint {
  padding: 0;
}

.lg-table {
  max-width: 1200px;
}

.lg-table td {
  max-width: 10rem;
}

.lg-table .table-img-link {
  font-weight: 500;
}

.lg-table .table-img-link img {
  width: 1.5rem;
}

.lg-table .table-fiat-symbol {
  width: 2rem;
}

@media screen and (max-width: 1500px) {
  .main-content-container,
  .chart,
  .main-table {
    max-width: 1000px;
  }
  .details {
    flex-direction: column;
  }
  .profile {
    width: 100%;
    margin-right: 0;
  }
  .profile-name {
    margin-bottom: 0.5rem;
  }
  .profile-desc {
    max-width: 30rem;
  }
  .profile-img {
    width: 10rem;
    height: 10rem;
  }
  .fiat-profile-symbol {
    font-size: 4.5rem;
  }
  .profile-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem;
  }
  .profile-link {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1300px) {
  .main-content-container {
    max-width: 800px;
  }
  .current-price,
  .trade-volume {
    font-size: 1.2rem;
  }
  .current-price span:first-child {
    font-size: 1.5rem;
  }
  .fiat-base,
  .volume-24h,
  .ticker-last-traded {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .profile-img {
    width: 5rem;
    height: 5rem;
  }
  .fiat-profile-symbol {
    font-size: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .logo-box {
    margin: 0 1rem 0 0.5rem;
  }
  .fiat-fractional-unit {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .change-24h,
  .volume-24h-btc-normalized,
  .ticker-last-traded {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .lg-table td {
    max-width: 8rem;
  }
  .market-cap,
  .exchange-year,
  .ticker-volume {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .main-header .logo-box,
  .search-box .search-icon-box {
    display: none;
  }
  .main-header {
    position: static;
    height: 3rem;
    border: none;
    box-shadow: var(--header-box-shadow);
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;
    padding: 0 0.5rem;
  }
  .search-box {
    background-color: transparent;
    margin: 0 1rem;
    padding: 0;
  }
  .search-box.focus {
    box-shadow: none;
  }
  .view-mode-btn {
    margin: 0 0.1rem;
  }
  .side-menu-backdrop {
    z-index: 21;
    width: 100%;
  }
  .side-menu {
    z-index: 22;
  }
  .main-content {
    margin-top: 0;
  }
  .main-spacing-left {
    min-width: 0;
  }
  .main-content-body {
    margin-bottom: 1rem;
  }
  .main-content-body.justify-left,
  .card-grid.justify-left,
  .search-grid .card-grid {
    justify-content: center;
  }
  .site-description {
    text-align: center;
  }
  .search-title:first-of-type {
    margin: 0 0 1rem;
  }
  .card {
    width: 9rem;
  }
  .details {
    font-size: 0.9rem;
  }
  .profile h1,
  .stock-input {
    font-size: 1.5rem;
  }
  .profile h3,
  .stock-symbol a {
    font-size: 1rem;
  }
  .profile-links {
    grid-template-columns: repeat(2, 1fr);
  }
  .market-overview {
    font-size: 0.8rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .market-overview span:first-child {
    font-weight: 500;
  }
  .stock-symbol {
    margin-bottom: 1rem;
  }
  .current-price,
  .trade-volume {
    font-size: 1rem;
    margin: 0 0 1rem;
  }
  .current-price span:first-child {
    font-size: 1.3rem;
  }
  .chart-buttons {
    justify-content: center;
  }
  .chart-buttons button {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
  }
}

@media screen and (max-width: 500px) {
  .main-table {
    width: calc(100vw - 3rem);
    margin: 0 auto;
  }
  .main-table th,
  .main-table td {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .main-table td,
  .lg-table td {
    max-width: 6rem;
  }
  .fiat-ISO,
  .change-7d,
  .ticker-spread {
    display: none;
  }
  .lg-table .table-img-link img {
    width: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .profile-links,
  .market-overview {
    grid-template-columns: 1fr;
  }
  .market-overview {
    gap: 0.8rem;
  }
  .main-table {
    width: calc(100vw - 2rem);
  }
  .main-table td,
  .lg-table td {
    max-width: 5rem;
  }
}

/* Dark Mode */
body.darkmode,
.darkmode .main-header,
.darkmode .logo-name,
.darkmode .search-field,
.darkmode .side-menu,
.darkmode .material-icons-outlined,
.darkmode a,
.darkmode .side-menu li span,
.darkmode .side-menu .subheader,
.darkmode .site-description,
.darkmode .stock-input,
.darkmode .chart-buttons button {
  color: var(--darkmode-text-primary-color);
}

.darkmode .main-header {
  background-color: var(--header-darkmode-bg-color);
  border-bottom-color: var(--header-darkmode-bg-color);
}

body.darkmode,
.darkmode .side-menu {
  background-color: var(--darkmode-bg-color);
}

.darkmode .icon-btn:hover {
  background: none;
}

.darkmode .search-box {
  background-color: var(--darkmode-search-box-bg-color);
}

.darkmode .side-menu .logo-box {
  border-bottom-color: var(--darkmode-table-border-color);
}

.darkmode .side-menu li div:hover,
.darkmode .chart-buttons button {
  background-color: rgba(255, 255, 255, 0.05);
}

.darkmode .chart-buttons button:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.darkmode .chart-buttons button.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.darkmode .main-table tr {
  border-bottom-color: var(--darkmode-table-border-color);
}

@media screen and (max-width: 600px) {
  .darkmode .main-header {
    background-color: var(--darkmode-bg-color);
  }
  .darkmode .search-box {
    background-color: transparent;
  }
}
